In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [3]:
!wget https://github.com/ssv273/Python_for_Data_Science/blob/master/test.csv
!wget https://github.com/ssv273/Python_for_Data_Science/blob/master/train.csv

--2019-03-27 10:31:38--  https://github.com/ssv273/Python_for_Data_Science/blob/master/test.csv
Resolving github.com (github.com)... 192.30.253.113, 192.30.253.112
Connecting to github.com (github.com)|192.30.253.113|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘test.csv.3’

test.csv.3              [  <=>               ]   3.34M  16.3MB/s    in 0.2s

2019-03-27 10:31:39 (16.3 MB/s) - ‘test.csv.3’ saved [3500635]

In [7]:
!ls

sample_data		    test.csv	test.csv.2
SSaschenko_predictions.csv  test.csv.1	train.csv

In [0]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [9]:
train.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [0]:
df = train.append(test)

In [11]:
df.head()

,DistrictId,Ecology_1,Ecology_2,Ecology_3,Floor,Healthcare_1,Helthcare_2,HouseFloor,HouseYear,Id,KitchenSquare,LifeSquare,Price,Rooms,Shops_1,Shops_2,Social_1,Social_2,Social_3,Square
0,35,0.089040,B,B,7,NaN,0,9.0,1969,14038,6.0,29.442751,184966.930730,2.0,11,B,33,7976,5,47.981561
1,41,0.000070,B,B,7,240.0,1,9.0,1978,15053,8.0,40.049543,300009.450063,3.0,16,B,46,10309,1,65.683640
2,53,0.049637,B,B,8,229.0,1,12.0,1968,4765,0.0,29.197612,220925.908524,2.0,3,B,34,7759,0,44.947953
3,58,0.437885,B,B,8,1084.0,0,17.0,1977,5809,9.0,52.731512,175616.227217,2.0,5,B,23,5735,3,53.352981
4,99,0.012339,B,B,11,2078.0,2,12.0,1976,10783,7.0,23.776169,150226.531644,1.0,4,B,35,5776,1,39.649192

### Смотрим признаки

In [12]:
df.describe()

,DistrictId,Ecology_1,Floor,Healthcare_1,Helthcare_2,HouseFloor,HouseYear,Id,KitchenSquare,LifeSquare,Price,Rooms,Shops_1,Social_1,Social_2,Social_3,Square
count,15000.000000,15000.000000,15000.000000,7825.000000,15000.000000,15000.000000,1.500000e+04,15000.000000,15000.000000,11846.000000,10000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,50.693600,0.119196,8.561800,1144.162428,1.319467,12.606600,3.321575e+03,8393.136933,6.174467,36.851792,214138.857399,1.897000,4.235133,24.769267,5370.404933,8.113667,56.360350
std,43.786257,0.119371,5.323113,1029.296278,1.489012,6.780165,1.637078e+05,4850.111673,24.016979,71.120183,92872.293865,0.839229,4.796545,17.532278,4013.364403,23.841946,20.423913
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.908000e+03,0.000000,0.000000,0.333490,59174.778028,0.000000,0.000000,0.000000,168.000000,0.000000,1.136859
25%,20.000000,0.017647,4.000000,350.000000,0.000000,9.000000,1.974000e+03,4188.750000,1.000000,22.896130,153872.633942,1.000000,1.000000,6.000000,1564.000000,0.000000,41.814371
50%,37.000000,0.075424,7.000000,900.000000,1.000000,12.000000,1.977000e+03,8378.500000,6.000000,32.822810,192269.644879,2.000000,3.000000,25.000000,5285.000000,2.000000,52.645757
75%,75.000000,0.195781,12.000000,1548.000000,2.000000,17.000000,2.001000e+03,12594.250000,9.000000,45.144624,249135.462171,2.000000,6.000000,36.000000,7287.000000,5.000000,66.036608
max,212.000000,0.521867,78.000000,4849.000000,6.000000,117.000000,2.005201e+07,16798.000000,2014.000000,7480.592129,633233.466570,19.000000,23.000000,74.000000,19083.000000,141.000000,641.065193

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15000 entries, 0 to 4999
Data columns (total 20 columns):
DistrictId       15000 non-null int64
Ecology_1        15000 non-null float64
Ecology_2        15000 non-null object
Ecology_3        15000 non-null object
Floor            15000 non-null int64
Healthcare_1     7825 non-null float64
Helthcare_2      15000 non-null int64
HouseFloor       15000 non-null float64
HouseYear        15000 non-null int64
Id               15000 non-null int64
KitchenSquare    15000 non-null float64
LifeSquare       11846 non-null float64
Price            10000 non-null float64
Rooms            15000 non-null float64
Shops_1          15000 non-null int64
Shops_2          15000 non-null object
Social_1         15000 non-null int64
Social_2         15000 non-null int64
Social_3         15000 non-null int64
Square           15000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 2.4+ MB

In [0]:
# дропнем сразу Helthcare_1
df = df.drop(['Healthcare_1'], axis = 1)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15000 entries, 0 to 4999
Data columns (total 19 columns):
DistrictId       15000 non-null int64
Ecology_1        15000 non-null float64
Ecology_2        15000 non-null object
Ecology_3        15000 non-null object
Floor            15000 non-null int64
Helthcare_2      15000 non-null int64
HouseFloor       15000 non-null float64
HouseYear        15000 non-null int64
Id               15000 non-null int64
KitchenSquare    15000 non-null float64
LifeSquare       11846 non-null float64
Price            10000 non-null float64
Rooms            15000 non-null float64
Shops_1          15000 non-null int64
Shops_2          15000 non-null object
Social_1         15000 non-null int64
Social_2         15000 non-null int64
Social_3         15000 non-null int64
Square           15000 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 2.3+ MB

##### Для начала разберемся с комнатами

In [0]:
plt.scatter(df['Rooms'], df['Price']);

Видим выбросы

In [0]:
df.loc[df['Rooms'] > 5, :]

Видим что только одна квартира может иметь 6 комнат, и то скорее всего там 5 комнат.
Так как таких квартир немного обработаем их вручную.

In [0]:
df.loc[df['Id'] == 5927, 'Rooms'] = 2
df.loc[df['Id'] == 8491, 'Rooms'] = 1
df.loc[df['Id'] == 14003, 'Rooms'] = 3
df.loc[df['Id'] == 14865, 'Rooms'] = 2
df.loc[df['Id'] == 10793, 'Rooms'] = 5
df.loc[df['Id'] == 1435, 'Rooms'] = 2
df.loc[df['Id'] == 4058, 'Rooms'] = 5

In [0]:
plt.scatter(df['Rooms'], df['Price']);

Глянем еще раз на разброс

In [0]:
df['Rooms'].describe()

Видим квартиры по 0 комнат.

In [0]:
df.loc[df['Rooms'] == 0, :]

Поправим  их

In [0]:
df.loc[df['Id'] == 12638, 'Rooms'] = 3
df.loc[df['Id'] == 7917, 'Rooms'] = 3
df.loc[df['Id'] == 7317, 'Rooms'] = 1
df.loc[df['Id'] == 770, 'Rooms'] = 2
df.loc[df['Id'] == 456, 'Rooms'] = 3
df.loc[df['Id'] == 3224, 'Rooms'] = 1
df.loc[df['Id'] == 3159, 'Rooms'] = 1
df.loc[df['Id'] == 9443, 'Rooms'] = 3
df.loc[df['Id'] == 3343, 'Rooms'] = 3
df.loc[df['Id'] == 10729, 'Rooms'] = 3

Еще раз посмотрим на разброс

In [0]:
plt.scatter(df['Rooms'], df['Price']);

Смущают квартиры 4-5 комнатами по очень низкой цене и одна 1комнатная под 600к

In [0]:
df.loc[(df['Rooms'] == 5) & (df['Price']<250000)]

In [0]:
# Явно не по 5 комнат
df.loc[df['Id'] == 6358, 'Rooms'] = 2
df.loc[df['Id'] == 7594, 'Rooms'] = 2

In [0]:
df.loc[(df['Rooms'] == 4) & (df['Price']<200000)]

In [0]:
distr_average = train.groupby(['DistrictId', 'Rooms'])['Price'].mean().reset_index()
# distr_average

In [0]:
distr_average.loc[distr_average['DistrictId'] == 5]

In [0]:
df.loc[df['Id'] == 203, 'Rooms'] = 1
df.loc[df['Id'] == 203, 'Square'] = 22.630373
df.loc[df['Id'] == 203, 'LifeSquare'] = 10.1554252

In [0]:
df.loc[(df['Rooms'] == 1) & (df['Price']>500000)]

In [0]:
df.loc[df['Id'] == 13603, 'Rooms'] = 5
df.loc[df['Id'] == 13603, 'LifeSquare'] = 110
df.loc[df['Id'] == 7496, 'Rooms'] = 5
df.loc[df['Id'] == 16638, 'Rooms'] = 5

Еще раз посмотрим на разброс

In [0]:
plt.scatter(df['Rooms'], df['Price']);

Уже лучше

In [0]:
df.loc[df['Id'] == 14038]

### Теперь разберемся с общей площадью

In [0]:
df['Square'].describe()

In [0]:
plt.scatter(df['Square'], df['Price']);

Видим выбросы и квартиры меньше 5 м2. Надо пофиксить.

In [0]:
df.loc[df['Square'] > 250, :]

In [0]:
df.loc[df['Id'] == 28, 'Rooms'] = 2
df.loc[df['Id'] == 28, 'Square'] = df.loc[df['Id'] == 28, 'Square']/10
df.loc[df['Id'] == 2307, 'Square'] = df.loc[df['Id'] == 2307, 'Square']/10
df.loc[df['Id'] == 11602, 'Square'] = df.loc[df['Id'] == 11602, 'Square']/10

In [0]:
def square(id, square, life_square):
    df.loc[df['Id'] == id, 'Square'] = square
    df.loc[df['Id'] == id, 'LifeSquare'] = life_square

In [0]:
square_average = train.groupby(['DistrictId', 'Rooms'])['Square'].mean().reset_index()
# distr_average
square_average.loc[square_average['DistrictId'] == 190]
# distr_average.loc[distr_average['DistrictId'] == 30]

In [0]:
life_square_average = df.groupby(['DistrictId', 'Rooms'])['LifeSquare'].mean().reset_index()
life_square_average.loc[life_square_average['DistrictId'] == 27]

In [0]:
square(1420, 29, 19.75)
square(170, 61.468, 50)
square(7855, 49.67, 29.68)
square(1165, 23.72, 18.99)
square(10120, 51, 28.62)
df.loc[df['Id'] == 10120, 'Rooms'] = 2
square(2138, 56.47, 45)
df.loc[df['Id'] == 2138, 'Rooms'] = 2
square(16401, 43.38, 26.45)
df.loc[df['Id'] == 16404, 'Rooms'] = 2
square(9011, 38, 23.95 )
square(1420, 40, 26.7)
square(5480, 30, 18)
square(7657, 46.19, 45.03)
square(6782, 52.57, 29.54)
df.loc[df['Id'] == 6782, 'Rooms'] = 2
square(15744, 26.42, 19.88)
square(13265, 79.77, 48.24)
square(14786, 45.26, 33)
square(4504, 56.11, 43.9)
square(3224, 23.77, 8.7 )
square(12676, 25, 13)
df.loc[df['Id'] == 12676, 'Rooms'] = 1
square(9487, 55.5, 51.3)
df.loc[df['Id'] == 9487, 'Rooms'] = 3
square(10527, 43.81, 40.81)
square(10202, 46.05, 25.96)
square(11526, 46.33, 19.7)
square(1748, 67.63, 54.97)

In [0]:
df.loc[df['Square'] < 15, :]

уже больше похоже на правду

In [0]:
plt.scatter(df['Square'], df['Price']);

теперь глянем на площади, где жилая площадь больше общей

In [0]:
# df.loc[df['Square'] < df['LifeSquare'], :]
# дофига....

In [0]:
df.loc[(df['LifeSquare'] - df['Square'])>20, :]

ага, вот они, красавчики, пофиксим

In [0]:
df.loc[(df['LifeSquare'] - df['Square'])>20, 'LifeSquare'] =(df.loc[(df['LifeSquare'] - df['Square'])>20, 'LifeSquare'])/10

In [0]:
df.loc[(df['LifeSquare'] - df['Square'])>20, 'LifeSquare'] =(df.loc[(df['LifeSquare'] - df['Square'])>20, 'LifeSquare'])/10

In [0]:
# df.loc[df['Square'] < df['LifeSquare'], :]
#  все еще дофига....

In [0]:
df.loc[df['Id'] == 14038]

In [0]:
df.loc[df['Id'] == 15759, 'Floor'] = 18
df.loc[df['Id'] == 10806, 'HouseFloor'] = 9
df.loc[df['Id'] == 9300, 'HouseFloor'] = 9
df.loc[df['Id'] == 78, 'HouseFloor'] = 17
df.loc[df['Id'] == 15864, 'HouseFloor'] = 9

### Теперь разберемся с годом постройки

In [0]:
df.loc[df['HouseYear']>2020]

In [0]:
df.loc[df['Id'] == 10814, 'HouseYear'] = 2005
df.loc[df['Id'] == 11607, 'HouseYear'] = 1968

### Теперь посмотрим на площадь кухни

In [0]:
df.describe()

In [0]:
df.loc[df['KitchenSquare']>100]

In [0]:
df.loc[df['Id'] == 14656, 'KitchenSquare'] = 10
df.loc[df['Id'] == 7441, 'KitchenSquare'] = 20
df.loc[df['Id'] == 2969, 'KitchenSquare'] = 15
df.loc[df['Id'] == 12552, 'KitchenSquare'] = 15
df.loc[df['Id'] == 14679, 'KitchenSquare'] = 7
df.loc[df['Id'] == 2737, 'KitchenSquare'] = 20
df.loc[df['Id'] == 3341, 'KitchenSquare'] = 20
df.loc[df['Id'] == 14594, 'KitchenSquare'] = 8

In [0]:
df.loc[df['Id'] == 14038]

### Одиночные выбросы пофиксили

### Пока займемся жилой площадью

Для начала разделим обратно

In [0]:
df = pd.get_dummies(df)

In [0]:
train, test = df[:len(train)], df[len(train):]

In [0]:
train.shape, test.shape

In [0]:
train.loc[train['Id'] == 14038]

In [0]:
train.isnull().sum()

In [0]:
test.isnull().sum()

### Разбиваем на train valid

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
train, valid = train_test_split(train, test_size=0.2, random_state=80)

In [0]:
train.shape, valid.shape

In [0]:
train.loc[train['Id'] == 14038]

In [0]:
valid.loc[valid['Id'] == 14038]

### Продолжаем обработку

In [0]:
def life_square(df):
    df['LifeSquare'] = df['LifeSquare'].fillna(0)
#     там где жилая площадь меньше 9,5 приравняем ее к общей площади минус кухня
#     if df.loc[df['KitchenSquare']<40, :]:
    df.loc[(df['LifeSquare'] < 9.5)&(df['KitchenSquare']<40), 'LifeSquare'] = (df.loc[df['LifeSquare']
                                                      < 9.5, 'Square'] - df.loc[df['LifeSquare'] < 9.5, 'KitchenSquare'])
    df.loc[df['LifeSquare']<9.5, 'LifeSquare'] = df.loc[df['LifeSquare']<9.5, 'Square']
    return df

### Продолжаем с общей площадью

поменяем местами значения столбцов, где жилая площадь больше общей

In [0]:
def square_change(df):
    df1 = df.copy()
    df2 = df.copy()
    df1.loc[df1['Square'] < df1['LifeSquare'], 'Square'] = df1.loc[df1['Square'] < df1['LifeSquare'], 'LifeSquare']
    df2.loc[df2['Square'] < df2['LifeSquare'], 'LifeSquare'] = df2.loc[df2['Square'] < df2['LifeSquare'], 'Square']
    df['Square'] = df1['Square']
    df['LifeSquare'] = df2['LifeSquare']
    return df

# можно еще посмотреть размер кухни от размера квартиры потом

### Этажности и этажи

In [0]:
def floors(df):
    df.loc[df['HouseFloor'] == 0, 'HouseFloor'] = df.loc[df['HouseFloor'] == 0, 'Floor'] #а пусть везде где этажность дома = 0 она будет равна высоте этажа на котором квартира
    df.loc[df['Floor'] > df['HouseFloor'], 'Floor'] = df.loc[df['Floor'] > df['HouseFloor'], 'HouseFloor'] #пусть тогда этаж будет последний
    return df

In [0]:
def prepare_data(df):
    df = life_square(df)
    df = square_change(df)
    df = floors(df)
    return df

# Теперь займемся созданием новых признаков

Для начала разобьем районы по количеству квартир

In [0]:
def distr_size(df):
    distr_size = df['DistrictId'].value_counts().reset_index()
    distr_size.columns = ['DistrictId', 'count']
    distr_size.loc[distr_size['count']>= 200, 'distr_class'] = 0
    distr_size.loc[(distr_size['count']< 200) & (distr_size['count']>= 100), 'distr_class'] = 1
    distr_size.loc[(distr_size['count']< 100) & (distr_size['count']>= 50), 'distr_class'] = 2
    distr_size.loc[distr_size['count']< 50, 'distr_class'] = 3
    distr_size['distr_class'].astype('int')
    distr_size = distr_size.drop(['count'], axis = 1)
    df = pd.merge(df, distr_size, on='DistrictId', how='left')
    return df

Теперь разобьем по средней цене за квадрат

In [0]:
distr_mean_price = train.groupby(['DistrictId'])['Price'].mean().reset_index()

In [0]:
distr_mean_price.columns = ['DistrictId', 'distr_mean_price']

Теперь получим среднюю цену по районам, на тот случай, если в других датафреймах есть районы, которые остутствуют в трейне

In [0]:
distr_price_average = distr_mean_price['distr_mean_price'].mean()

In [0]:
distr_price_average

In [0]:
distr_mean_price.loc[distr_mean_price['distr_mean_price']>= 300000, 'distr_mean_class'] = 0
distr_mean_price.loc[(distr_mean_price['distr_mean_price']< 300000) & (distr_mean_price['distr_mean_price']>= 250000), 'distr_mean_class'] = 1
distr_mean_price.loc[(distr_mean_price['distr_mean_price']< 250000) & (distr_mean_price['distr_mean_price']>= 200000), 'distr_mean_class'] = 2
distr_mean_price.loc[distr_mean_price['distr_mean_price']< 200000, 'distr_mean_class'] = 3

In [0]:
def distr_average(df, distr_mean_price=distr_mean_price, distr_price_average=distr_price_average):
    df = pd.merge(df, distr_mean_price, on='DistrictId', how='left')
    df['distr_mean_price'] = df['distr_mean_price'].fillna(distr_price_average)
    df['distr_mean_class'] = df['distr_mean_class'].fillna(1)
    return df

Теперь разобъем на классы по Ecology_1

In [0]:
ecology_1_mean = train.groupby(['DistrictId'])['Ecology_1'].mean(
).reset_index().rename(columns={'Ecology_1': 'Ecology_1_mean'})

In [0]:
ecology_1_mean_av = ecology_1_mean['Ecology_1_mean'].mean()

In [0]:
ecology_1_mean.head()

In [0]:
def ecology_class(df, ecology_1_mean = ecology_1_mean, ecology_1_mean_av=ecology_1_mean_av):
    df.loc[df['Ecology_1'] >= 0.2, 'Ecology_1_class'] = 0
    df.loc[df['Ecology_1'] < 0.2, 'Ecology_1_class'] = 1
    df = pd.merge(df, ecology_1_mean, on='DistrictId', how='left')
    df['Ecology_1_mean'] = df['Ecology_1_mean'].fillna(ecology_1_mean_av)
    return df

In [0]:
def prepare_features(df, ecology_1_mean=ecology_1_mean, distr_mean_price=distr_mean_price, distr_price_average=distr_price_average):
    df = distr_size(df)
    df = distr_average(df)
    df = ecology_class(df)
    return df

# Ну начнем преобразования и построим модель

In [0]:
feats = list(train)

In [0]:
train = prepare_data(train)

In [0]:
train = prepare_features(train)

In [0]:
valid = prepare_data(valid)

In [0]:
valid = prepare_features(valid)

In [0]:
valid.head()

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score as r2
from sklearn.model_selection import GridSearchCV

In [0]:
def Grid_Search_CV_RFR(X_train, y_train):
    estimator = RandomForestRegressor()
    param_grid = {
        "n_estimators": [5,10,20,50,100],
        "max_features": ["auto", "sqrt", "log2"],
        "min_samples_split": [2, 4, 8],
        "bootstrap": [True, False],
       }

    grid = GridSearchCV(estimator, param_grid, n_jobs=-1, cv=5)

    grid.fit(X_train, y_train)

    return grid.best_params_

In [0]:
# best_params = Grid_Search_CV_RFR(X_train, y_train.values[:, 0])

In [0]:
# best_params

In [0]:
feats = ['Id',
 'DistrictId',
 'Rooms',
 'Square',
 'LifeSquare',
 'KitchenSquare',
 'Floor',
 'HouseFloor',
 'HouseYear',
 'Ecology_1',
 'Social_1',
 'Social_2',
 'Social_3',
 'Helthcare_2',
 'Shops_1',
 'Ecology_2_A',
 'Ecology_2_B',
 'Ecology_3_A',
 'Ecology_3_B',
 'Shops_2_A',
 'Shops_2_B',
 'distr_class',
 'distr_mean_price',
 'distr_mean_class',
 'Ecology_1_class',
 'Ecology_1_mean']

In [0]:
feats = ['Square',
 'distr_mean_price',
 'HouseYear',
 'Social_3',
 'HouseFloor',
 'Social_2',
 'Id',
 'DistrictId',
 'Floor',
 'Ecology_3_B',
 'KitchenSquare',
 'LifeSquare',
 'Ecology_1_class',
 'Ecology_1',
 'distr_mean_class',
 'Ecology_1_mean']

In [0]:
estimator = RandomForestRegressor()

In [0]:
best_params = {'bootstrap': True,
 'max_features': 'sqrt',
 'min_samples_split': 4,
 'n_estimators': 1000}

In [0]:
estimator = RandomForestRegressor(n_jobs=-1).set_params(**best_params)
estimator.fit(train.loc[:, feats], train['Price'])

In [0]:
def get_prediction(model, df, feats=feats, evaluate='Yes'):
    pred = model.predict(df.loc[:, feats])
    if evaluate == 'Yes':
        r2_value = r2(df['Price'],pred)
        print('R2 = {}'.format(r2_value))
    return pred

In [0]:
pred_train = get_prediction(model=estimator, df = train)

In [0]:
pred_valid = get_prediction(model=estimator, df = valid)

### Test

In [0]:
test.shape

In [0]:
test = prepare_data(test)

In [0]:
test = prepare_features(test)

In [0]:
test = test.drop(['Price'], axis=1)

In [0]:
test.info()

In [0]:
test['Price'] = get_prediction(estimator, test, evaluate='No')

In [0]:
test['Price'].describe()

In [0]:
test.loc[:,['Id', 'Price']].to_csv('SSaschenko_predictions.csv', index=False)

In [0]:
!ls